body {

    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}
header {

    background-color: rgba(218, 216, 216, 0.28);
    position: relative;
    height: 80px;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);


}
header>*{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 30px;
}
header img {
    width: 60px;
    left: 50px;
    border-radius: 10px;


}
h3 {
    color: #1c0101;
    font-size: 40px;
    font-weight: 600;
    margin-left: 70px;
    align-content: flex-start;
    justify-content: center;
    left: 30px;
}
ul{
    right: 200px;
    text-decoration: none;
}
li{

    margin: 10px;
    display: inline-block;
    font-size: 25px;
    font-weight: 600;
    list-style: none;
}
a {
    color: black;
    text-decoration: none;
}
li :hover{
    background-color: rgba(236, 188, 75, 0.96);
}
/* DEBUT DU CORP DE LA PAGE*/

.page-main{
    display: block;
    width: 80%;

    margin: auto;
    margin-top: 100px;

}
.bienvenue {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;

}
.photo img {
    border-radius: 15px;
}
.text-bienvenue{
    margin-left: 20px;
}
.separator{
    height: 8px;
    width: 100%;
    background-color: #01164b;
    margin: 20px 0;
    border-radius: 14px;
}
h1{
    color: #1c0101;
    font-size: 80px;
    font-weight: 600;
    margin-left: 30%;
    align-content: flex-start;
    justify-content: center;
    left: 30px;
}
P{
    font-size: 25px;
    font-weight: 600;
    color: rgb(23, 22, 22);
}
